@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Sans serif;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;

    position: relative;
}

.background {
    width: 100vw;
}

.logo_starwars {
    width: 65%;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;

    bottom: 33%;
    
}

.logo_starwars img {
    width: 22vw;
}

.create_your_legion {
    position: absolute;

    bottom: 5%;
    right: 20%;
}

.create_your_legion img {
    width: 9vw;
}


.kylo_ren--header {
    width: 58vw;

    position: absolute;
    top: 80px;
    left: 12.5vw;

    z-index: 1;
}


/* main */


/* Comece a jogar */

.container_about_game {
    width: 100vw;
    height: 150vh;

    background: url(assets/background-main.png) #fff;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_start_game {
    width: 75vw;
    height: 60vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    z-index: 999;
}

.box-start-game {
    width: 17vw;
    height: 52vh;


    position: relative;
}

.box-start-game img {
    width: 100%;
    
    position: absolute;
    top: -90px;
}

.about-game {
    width: 52vw;
    height: 42vh;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end; 
}

.about-game img{
    width: 20vw;
}

.text_about {
    width: 30vw;
    height: 26vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    margin-right: 1rem;

}

.text_about  h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}

.text_about  span{
    width: 10vw;
    height: 3px;
    background: #000;
}

.text_about  p{
    font-size: 1rem;
    text-align: right;
    text-indent: 50px;
}


/* Estrutura do Jogo */



.structure_of_game {
    width: 75vw;
    height: 75vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.structure_of_game .menu {
    width: 40vw;
    height: 65vh;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
}

.structure_of_game .menu h2 {
    font-size:  2.3rem;
    text-transform: uppercase;
    text-align: right;
}

.structure_of_game .menu ul {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
}

.structure_of_game .menu nav li {
    width: 30vw;

    list-style: none;
    text-align: right;
}


.structure_of_game .menu nav li a{
    width: 22vw;
 
    color: #000;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.structure_of_game .menu nav li a:hover{
    color: #fff;
    background: rgb(255, 0, 0);
}



.character_lord_sifh{
    width: 600px;

    position: absolute;
    left: 1px;
    bottom: -20%;
}

.character_rey {
    width: 300px;

    position: absolute;
    right: -20px;
    bottom: -20%;
}

.border-main {
    width: 75vw;
    height: 3px;

    background: #000;
}


/* Atributos */

.container_attributes {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attributes {
    width: 100vw;
    height: 90vh;

    background: rgb(51, 51, 51);
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.attributes h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    width: 80vw;
    padding-left: 3rem;
}

.fig-attributes {
    width: 80vw;
    height: 60vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-max {
    width: 45vw;
    height: 55vh;
}

.img-max figure {
    width: 100%;
}

.img-max figure img {
    width: 100%;
    height: 55vh;
}

.img-min{
    width: 35vw;
    height: 55vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-min figure {
    width: 17.5vw;
    height: 27.5vh;
}

.img-min figure img {
    width: 100%;
    height: 27.5vh;
}

/* Hierarchy */

.hierarchy {
    width: 100vw;
    height: 150vh;

    background: rgb(51, 51, 51);
    color: #fff;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.hierarchy figure {
    width: 80vw;
}

.hierarchy figure img {
    width: 100%;

}

.about_of_hierarchy {
    width: 80vw;
    height: 8vh;
    margin-bottom: 7rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about_of_hierarchy p {
    width: 35vw;

    font-size: .8rem;
    text-align: right;
    
}

/* Como Jogar */

.how_to_play {
    text-align: center;

}

.how_to_play h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

.steps_to_play {
    width: 100vw;
    height: 50vh;


    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.steps_to_play img{
    width: 25vw;

    position: absolute;
    bottom: 30%;
    left: 100px;
}

.list_steps_to_play {
    width: 80vw;
    height: 35vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

}

.list_steps_to_play li {
    width: 18vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.list_steps_to_play h2 {
   font-size: 2rem;
}

.list_steps_to_play a {
   background: #000000;
   color: white;

   font-size: 1.3rem;
   padding: .6rem 1.5rem;
   font-weight: 200;
   text-transform: uppercase;
   text-decoration: none;
}

.list_steps_to_play p {
    font-size: .8rem;
}

.list_steps_to_play span {
    width: 7vw;
    height: 4px;
    border-radius: 10px;

    background: #000000;
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.download-app {
    width: 60vw;
    height: 90vh;

    background: rgb(251, 59, 38);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.container_app {
    width: 30vw;
    height: 34vh;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.container_app h2 {
    width: 30vw;

    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.container_app p {
    font-size: .9rem;
    font-weight: 200;
    text-align: justify;
}

.logo_app {
    width: 30vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.logo_app img{
   width: 170px;
}

.border_footer {
    width: 30vw;
    height: 4px;
    border-radius: 5px;

    background: rgb(200, 2, 2);
}

.container_logo--footer {
    width: 30vw;
    color: #fff;
}

.container_logo--footer img{
    width: 250px;
    margin-bottom: 2rem;
}

.container_logo--footer p{
    font-size: .9rem;
    text-align: justify;
}

.rihts_the_game {
    width: 38vw;
    height: 90vh;
    padding: 0 0 2rem 0;

    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.rihts_the_game p {
    width: 25vw;
    font-size: .8rem;

}

.rihts_the_game img {
    width: 32vw;

    bottom: 10%;
    left: -24%;
    position: absolute;

}



/* Responsive */

@media (max-width: 1080px) {

    .box-start-game img {
        width: 19vw;
        
        position: absolute;
        top: -120px;
    }

    .kylo_ren--header {
        top: 55px; 
    }

    .about-game {
        height: 25vh;
    }

    .text_about {
        height: 20vh;
    }

    .container_start_game {
        height: 45vh;
    }

    .text_about  p{
        font-size: .7rem;

    }

    .structure_of_game .menu nav li a{
        font-size: 1rem;

    }

    .hierarchy {
        height: 120vh;
    }

    .steps_to_play img{
        left: 70px;
    }
    
    .list_steps_to_play h2 {
        font-size: 1.7rem;
    }
     
    .list_steps_to_play a {
        font-size: 1rem;
    }
     
    .list_steps_to_play p {
         font-size: .6rem;
    }

    .container_logo--footer p{
        font-size: .7rem;
    }

    .container_app p {
        font-size: .7rem;
    }

    .logo_app img{
        width: 140px;
     }

    .container_logo--footer img{
        width: 220px;
    }

    .character_lord_sifh{
        width: 550px;
    
        position: absolute;
        left: -50px;
        bottom: -30%;
    }
    
    .character_rey {
        width: 280px;
    
        position: absolute;
        right: -80px;
        bottom: -30%;
    }

    .rihts_the_game img {
        width: 45vw;
    
        bottom: 10%;
        left: -35%;
        position: absolute;
    
    }
}

@media(max-width: 1000px) {

    .box-start-game img {
        width: 100%;
        
        position: absolute;
        top: -50px;
    }

    .about-game {
        height: 29vh;
    }

    .container_start_game {
        height: 42vh;
    }

    .rihts_the_game img {
        left: -110px;
    }
}

@media (max-width: 950px) {
    .rihts_the_game p {
        font-size: .8rem;
    
    }

    .about-game {
        height: 27vh;
    }

    .container_start_game {
        height: 39vh;
    }

    .steps_to_play {
        height: 60vh;
    }

    .about_of_hierarchy p {
        font-size: .6rem;
  
    }

    .hierarchy {
        height: 110vh;
    }

    .logo_app img{
        width: 120px;
    }

    .character_rey {
        width: 280px;
    
        position: absolute;
        right: -80px;
        bottom: -30%;
    }
}


@media (max-width: 900px){

    .kylo_ren--header {
        top: 45px; 
    }

    .create_your_legion {
        bottom: 6%;
        right: 20%;
    }

    .container_start_game {
        width: 75vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .box-start-game {
        width: 70vh;
        height: 65vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-start-game img {
       width: 30vw;
       position: static;
    }

    .text_about {
        width: 40vw;
        height: 21vh;
    }

    .about-game {
        width: 70vw;
        height: 30vh;
        margin-bottom: 2rem;
    }

    .about-game img{
        width: 26vw;
    }

    .text_about  span{
        width: 20vw;
    }

    .container_about_game {
        height: 200vh;
    }

    .structure_of_game .menu h2 {
        font-size:  1.8rem;
    }

    .structure_of_game .menu nav li a{
        font-size: .9rem;

    }

    .rihts_the_game p {
        font-size: .7rem;
    
    }

    .steps_to_play img{
        width: 37vw;
    
        top: -180px;
        left: -130px;
    }

    .list_steps_to_play {
        height: 35vh;
    }

    .list_steps_to_play li {
        width: 23vw;
        text-align: center;
    }

    .structure_of_game .menu ul {
        width: 70vh;
    }
    
    .structure_of_game .menu nav li {
        width: 40vw;    
    }

    .structure_of_game .menu nav li a{
        width: 35vw;

    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .download-app {
        width: 100vw;
        height: 120vh;
    
        background: rgb(251, 59, 38);
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        padding: 2rem 0 0 0 ;
    }

    .logo_app img{
        width: 100px;
    }

    .rihts_the_game {
        width: 100vw;
        height: 50vh;

        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .rihts_the_game img {
        width: 45vw;   
        left: 35%;
        top: -70%;
        position: absolute;
    }

    .rihts_the_game p {
        width: 80vw;
        text-align: center;
        font-size: .9rem;
    }

    .container_app {
        width: 50vw;
    }

    .container_logo--footer {
        width: 50vw;
    }

    .border_footer {
        width: 50vw;
    }

    .character_lord_sifh{
        width: 500px;
    }
    
    .character_rey {
        width: 250px;
    }
}

@media (max-width: 850px){
    .character_lord_sifh{
        width: 380px;
        left: -10px;
    }
    
    .character_rey {
        width: 200px;
        right: -25px;
    }

    .hierarchy {
        height: 100vh;
    }
}


@media (max-width: 800px){
    .rihts_the_game img {
        width: 45vw;   
        left: 35%;
        top: -60%;
        position: absolute;
    }


    .structure_of_game {
        background: #fff;
        width: 100vw;
        height: 100vh;
    
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .character_lord_sifh{
        width: 450px;
    
        position: absolute;
        left: 20px;
        bottom: -7%;
    }
    
    .character_rey {
        width: 230px;
    
        position: absolute;
        right: 10px;
        bottom: -7%;
    }

    .hierarchy {
        height: 90vh;
    }

}


@media (max-width: 750px){

    .hierarchy {
        height: 100vh;
    }
    
    .download-app {
        height: 100vh;
    }

    .rihts_the_game img {
        top: -45%;

    }
}

@media (max-width: 700px){

    .steps_to_play img{
        width: 37vw;
    
        top: -180px;
        left: -110px;
    }

    .list_steps_to_play li {
        width: 25vw;
        text-align: center;
    }

    .rihts_the_game img {
        left: 270px;
    }

    .hierarchy {
        height: 90vh;
    }

    .container_about_game {
        height: 150vh;
    }

    .box-start-game img {
        width: 30vw;
     }

    .container_start_game {
        height: 85vh;
    }
    .box-start-game {
        height: 45vh;
    }

    .about-game {
        height: 22vh;
    }

    .structure_of_game {
        height: 70vh;
    }

    .character_lord_sifh{
        width: 380px;   
    }
    
    .character_rey {
        width: 190px;
    }

    
    .structure_of_game .menu ul {
        width: 60vh;
        height: 40vh;
    }
}


@media (max-width: 650px){

    .steps_to_play {
        height: 100vh;
    }

    .list_steps_to_play {
        width: 50vw;
        height: 100vh;
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
    }

    .list_steps_to_play a {
        font-size: .8rem;
    }

    .steps_to_play img{
        width: 80vw;
    
        top: -70px;
        left: -220px;
    }

    .how_to_play h2 {
        font-size: 1.5rem;
    }

    .about_of_hierarchy p {
        font-size: .5rem;
  
    }

    .hierarchy {
        height: 80vh;
    }

    .logo_app {
        width: 45vw;
    }

    .rihts_the_game img {
        width: 45vw;   
        left: 35%;
        top: -40%;
        position: absolute;
    }
      
}

@media (max-width: 600px){
    .text_about  p{
        font-size: .6rem;

    }

    .text_about  h2{
        font-size: 1.5rem;
    }


    .rihts_the_game img {
        width: 45vw;   
        left: 220px;
    }

    .character_lord_sifh{
        width: 350px;
    
        position: absolute;
        left: 20px;
        bottom: -7%;
    }
    
    .character_rey {
        width: 180px;
    
        position: absolute;
        right: 2px;
        bottom: -7%;
    }


}

@media (max-width: 550px) {
    .steps_to_play img {
        left: -150px;
    }

    .attributes {
        height: 180vh;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    
    .attributes h2 {
        margin: 2rem    ;
    }
    
    .fig-attributes {
        height: 160vh;
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;

    }
    
    .img-max {
        width: 50vw;
        height: 30vh;
    }

    
    .img-max figure img {
        height: 30vh;
    }
    
    .img-min{
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
    }
    
    .img-min figure {
        width: 50vw;
        height: 30vh;
    }
    
    .img-min figure img {   
        height: 30vh;
    }

    .hierarchy {
        height: 80vh;

    }

    .how_to_play h2 {
        font-size: 1.2rem;
    }

    .about_of_hierarchy p {
        width: 50vw;
    }

    .rihts_the_game img { 
        left: 210px;
    }

    .container_start_game {
        height: 120vh;
    }

    .about-game {
        flex-direction: column;
        align-items: center;
        width: 70vw;
        height: 45vh;
    }

    .text_about {
        text-align: center;
        width: 70vw;
        height: 20vh;
    }

    .about-game img{
        width: 33vw;
    }

    .rihts_the_game img {
        width: 55vw;   
        left: 35%;
        top: -40%;
        position: absolute;
    }

}

@media (max-width: 500px) {
    .kylo_ren--header {
        top: 30px; 
    }

    .structure_of_game {
        width: 100vw;
        height: 80vh;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .character_lord_sifh{
        bottom: -30px;
    }
    
    .character_rey {

        bottom: -30px;
    }

    



}
    

@media(max-width: 410px){

    .kylo_ren--header {
        top: 20px; 
    }

    .container_about_game {
        height: 170vh;
        justify-content: center;
    }

    .rihts_the_game img { 
        left: 10px;
    }


    .box-start-game img {
        width: 50vw;
    }

    .about-game {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 60vh;
        background: #fff;

        border: 1px solid rgb(0, 255, 55);
    }

    .container_start_game {
        width: 100vw;
    }

    .text_about  span{
        height: 2px;
        width: 30vw;
    }

/*   ----------------------  */

    .structure_of_game {
        width: 100vw;
        height: 50vh;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        border: 1px solid goldenrod;
    }

    .structure_of_game .menu h2 {
        font-size:  1.8rem;
        width: 80vw;

        border: 1px solid red;
    }


    .structure_of_game .menu ul {
        width: 40vw;
        height: 30vh;
        justify-content: center;
        border: 1px solid blue;
    }
    
    .structure_of_game .menu nav li {
        width: 40vw;    
    }

    .structure_of_game .menu nav li a{
        width: 35vw;

    }

    .structure_of_game .menu h2 {
        font-size:  1rem;
    }

    .structure_of_game .menu nav li a{
        font-size: .5rem;

    }

    .character_lord_sifh{
        width: 55vw;
    
        position: absolute;
        left: 1px;
        bottom: -30px;
    }
    
    .character_rey {
        width: 30vw;
    
        position: absolute;
        right: 2px;
        bottom: -30px;
    }

    .text_about {
        text-align: center;
        width: 50vw;
        height: 30vh;
    }

    .about-game img{
        align-items: center;
    }

    .about-game img{
        width: 50vw;
    }

    .text_about  p{
        text-align: justify;
        font-size: .6rem;

    }

    .text_about  h2{
        font-size: 1rem;
    }
}

