@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Sans serif;
}

body {
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 80vh;

    background: url(assets/banner-header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.logo_starwars {
    width: 65%;
    height: 30vh;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    
}

.logo_starwars img {
    width: 22vw;
}

.create_your_legion {
    width: 10vw;
    height: 20vh;

    position: absolute;

    bottom: 16px;
    right: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create_your_legion h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
    font-weight: 400;
}

.create_your_legion h2 span {
    font-weight: 700;
    margin-left: .4rem;
}

.create_your_legion .border {
    width: 10vw;

    margin: 1rem 0 1rem 0;
    border: 1px solid #000;
    background: #000;
}

.pag {
    width: 10vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.pag p {
    font-size: 1rem;
    margin-right: .8rem;

}  

.pag p span {
    font-size: .8rem;
}   

.pag button {
    width: 10px;
    height: 10px;
    font-weight: 600;

    background: #ccc;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .2rem;
}

.kylo_ren--header {
    width: 58vw;

    position: absolute;
    bottom: -112px;
    left: 12.5vw;

    z-index: 1;
}


/* main */


/* Comece a jogar */

.container_about_game {
    width: 100vw;
    height: 150vh;

    background: url(assets/background-main.png) #fff;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_start_game {
    width: 75vw;
    height: 60vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    z-index: 999;
}

.box-start-game {
    width: 17vw;
    height: 52vh;

    position: relative;
}

.start_game {
    width: 17vw;
    height: 55vh;

    background: url(assets/strom-trupe-red.png) red;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    top: -65px;
}

.start_game h2 {
    width: 9vw;
    
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    z-index: 999;
}

.start_game p {
    width: 14vw;

    color: #fff;
    font-size: 0.8rem;
    text-align: justify;
    font-weight: 200;
}

.start_game a {
    color: #fff;

    border: 2px solid #fff;
    text-decoration: none;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border-radius: 5px;
}


.about-game {
    width: 52vw;
    height: 46vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}

.text_about {
    height: 26vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    margin-right: 1rem;
}

.text_about  h2{
    text-transform: uppercase;
}

.text_about  span{
    width: 10vw;
    height: 2px;
    background: #000;
}

.text_about  p{
    font-size: .9rem;
    text-align: right;
}

.about-game img{
    width: 20vw;
}


/* Estrutura do Jogo */



.structure_of_game {
    width: 75vw;
    height: 75vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.structure_of_game .menu {
    width: 40vw;
    height: 65vh;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
}

.structure_of_game .menu h2 {
    font-size:  2.3rem;
    text-transform: uppercase;
    text-align: right;
}

.structure_of_game .menu ul {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
}

.structure_of_game .menu nav li {
    width: 30vw;

    list-style: none;
    text-align: right;
}


.structure_of_game .menu nav li a{
    width: 22vw;
    background: #fff;
 
    color: #000;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.structure_of_game .menu nav li a:hover{
    color: #fff;
    background: rgb(255, 0, 0);
}



.character_lord_sifh{
    width: 35vw;

    position: absolute;
    left: 1px;
    bottom: -96px;
}

.character_rey {
    width: 17vw;

    position: absolute;
    right: 2px;
    bottom: -96px;
}

.border-main {
    width: 75vw;
    height: 3px;

    background: #000;
}


/* Atributos */

.container_attributes {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attributes {
    width: 100vw;
    height: 90vh;

    background: rgb(51, 51, 51);
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.attributes h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    width: 80vw;
    padding-left: 3rem;
}

.fig-attributes {
    width: 80vw;
    height: 60vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-max {
    width: 45vw;
    height: 55vh;
}

.img-max figure {
    width: 100%;
}

.img-max figure img {
    width: 100%;
    height: 55vh;
}

.img-min{
    width: 35vw;
    height: 55vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-min figure {
    width: 17.5vw;
    height: 27.5vh;
}

.img-min figure img {
    width: 100%;
    height: 27.5vh;
}

/* Hierarchy */

.hierarchy {
    width: 100vw;
    height: 150vh;

    background: rgb(51, 51, 51);
    color: #fff;

    display: flex;
    justify-content: d=flex-start;
    align-items: center;
    flex-direction: column;
}

.hierarchy figure {
    width: 80vw;
}

.hierarchy figure img {
    width: 100%;

}

.about_of_hierarchy {
    width: 80vw;
    height: 8vh;
    margin-bottom: 7rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about_of_hierarchy p {
    width: 35vw;

    font-size: .8rem;
    text-align: right;
    
}

/* Como Jogar */

.how_to_play {
    text-align: center;
}

.how_to_play h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

.steps_to_play {
    width: 100vw;
    height: 70vh;


    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.steps_to_play img{
    width: 25vw;

    position: absolute;
    top: -200px;
    left: 100px;
}

.list_steps_to_play {
    width: 80vw;
    height: 35vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

}

.list_steps_to_play li {
    width: 18vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.list_steps_to_play h2 {
   font-size: 2rem;
}

.list_steps_to_play a {
   background: #000000;
   color: white;

   font-size: 1.3rem;
   padding: .6rem 1.5rem;
   font-weight: 200;
   text-transform: uppercase;
   text-decoration: none;
}

.list_steps_to_play p {
    font-size: .8rem;
}

.list_steps_to_play span {
    width: 7vw;
    height: 4px;
    border-radius: 10px;

    background: #000000;
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.download-app {
    width: 60vw;
    height: 90vh;

    background: rgb(251, 59, 38);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container_app {
    width: 30vw;
    height: 34vh;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.container_app h2 {
    width: 30vw;

    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.container_app p {
    font-size: .9rem;
    font-weight: 200;
    text-align: justify;
}

.logo_app {
    width: 30vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.logo_app img{
   width: 170px;
}

.border_footer {
    width: 30vw;
    height: 4px;
    border-radius: 5px;

    background: rgb(200, 2, 2);
}

.container_logo--footer {
    width: 30vw;
    color: #fff;
}

.container_logo--footer img{
    width: 250px;
    margin-bottom: 2rem;
}

.container_logo--footer p{
    font-size: .9rem;
    text-align: justify;
}

.rihts_the_game {
    width: 40vw;
    height: 90vh;
    padding: 0 0 2rem 0;

    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.rihts_the_game p {
    width: 25vw;
    font-size: .9rem;
}

.rihts_the_game a {
    color: #000;
    text-decoration: none;

    font-size: .9rem;

}

.rihts_the_game img {
    width: 34vw;

    top: -100px;
    left: -145px;
    position: absolute;

}